* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* nav bar/tags */

header {
    padding: 20px 35 px;
    background-color: rgb(66, 178, 66);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 40px;
    color: black;
}

header nav {
    margin: 7px 0;
}